:root {
  /* Primary */
  --green-200: hsl(148, 38%, 91%);
  --green-600: hsl(169, 82%, 27%);
  --red: hsl(0, 66%, 54%);

  /* Neutral */
  --white: hsl(0, 0%, 100%);
  --grey-500: hsl(186, 15%, 59%);
  --grey-900: hsl(187, 24%, 22%);
}

* {
  font-family: "Karla", sans-serif;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--green-200);
}

main {
  background-color: var(--white);
}

h1 {
  color: var(--grey-900);
}

label {
  color: var(--grey-900);
}

label[for="first-name"],
label[for="last-name"],
label[for="email-address"],
label[for="message"] {
  display: block;
  font-size: 0.9em;
  margin-bottom: 8px;
}

span {
  color: var(--green-600);
  font-weight: bolder;
}

.full-name,
.email-address,
.query-type {
  margin-bottom: 16px;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  height: 32px;
  border: 1px solid var(--grey-500);
  border-radius: 4px;
}

.query {
  color: var(--grey-900);
  font-size: 0.9em;
}

.general-enquiry,
.support-request {
  height: 40px;
  display: flex;
  align-items: center;
  border: 1px solid var(--grey-500);
  border-radius: 4px;
}

input[type="radio"] {
  margin-left: 24px;
  margin-right: 16px;
}

textarea {
  width: 100%;
  border: 1px solid var(--grey-500);
  border-radius: 4px;
}

.consent {
  display: grid;
  grid-template-columns: 6% 94%;
  grid-template-rows: auto auto;
  font-size: 0.9rem;
}

input[name="consent"] {
  justify-self: left;
}

.consent > .error-message {
  grid-column-start: 1;
  grid-column-end: 3;
}

input[type="submit"] {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: none;
  background-color: var(--green-600);
  color: var(--white);
  font-size: 1rem;
  font-weight: 700;
}

.error-message {
  color: var(--red);
  font-size: 0.9rem;
  text-align: left;
  margin-top: 4px;
  display: none;
}

footer {
  text-align: center;
  margin-top: 16px;
}

footer > p {
  color: var(--grey-900);
  font-size: 0.8rem;
}

footer a,
footer a:visited {
  text-decoration: none;
  font-weight: 700;
  color: var(--green-600);
}

/* Mobile Design */
@media screen and (min-width: 320px) and (max-width: 768px) {
  main {
    width: 280px;
    margin: auto;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-top: 32px;
    border-radius: 12px;
  }

  h1 {
    width: 85%;
    margin: auto;
  }

  form {
    width: 85%;
    margin: auto;
    margin-top: 24px;
  }

  .last-name {
    margin-top: 16px;
  }

  .query-type > div {
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .message {
    margin-bottom: 32px;
  }

  textarea {
    height: 160px;
  }

  .consent {
    margin-bottom: 32px;
    grid-template-columns: 10% 90%;
  }

  footer {
    margin-bottom: 32px;
  }
}

/* Desktop Design */
@media screen and (min-width: 769px) {
  html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  main {
    width: 480px;
    padding: 24px;
    border-radius: 16px;
  }

  form {
    margin-top: 24px;
  }

  .full-name {
    display: flex;
    justify-content: space-between;
  }

  .first-name,
  .last-name {
    width: 48%;
  }

  .query-type > div {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
  }

  .general-enquiry,
  .support-request {
    width: 48%;
  }

  textarea {
    height: 80px;
  }

  .consent {
    margin-top: 24px;
    margin-bottom: 24px;
  }
}
